#### Task2 - Initial Exploration: Check the first few rows of the dataset using the head() or sample() function
             to get an overview of the data. Examine the columns and their data types using info(). Check for
             missing values using isnull() or info(). Investigate basic summary statistics with describe().

In [10]:
# access data
X = adult.data.features
y = adult.data.targets
z = adult.data.original

In [14]:
X.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba

In [16]:
X.sample(20)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
22719,26,Private,36201,Bachelors,13,Never-married,Sales,Not-in-family,White,Male,0,0,50,United-States
5912,25,Private,76144,HS-grad,9,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,50,United-States
3664,62,Self-emp-not-inc,171315,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States
23540,43,Private,180599,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,55,United-States
32749,34,State-gov,513100,Bachelors,13,Married-spouse-absent,Farming-fishing,Not-in-family,Black,Male,0,0,40,NaN
38548,22,Private,38444,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,10,United-States
1515,44,Private,123983,Bachelors,13,Divorced,Other-service,Not-in-family,Asian-Pac-Islander,Male,0,0,40,China
18869,33,Private,408813,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,50,United-States
37953,41,Self-emp-inc,60414,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,99,United-States
1712,49,Private,105444,12th,8,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,39,United-States
25308,17,Private,241185,12th,8,Never-married,Prof-specialty,Own-child,White,Male,0,0,20,United-States
46367,58,State-gov,138130,HS-grad,9,Never-married,Tech-support,Own-child,Black,Female,0,0,40,United-States
14024,20,Private,263612,Some-college,10,Never-married,Adm-clerical,Own-child,Black,Female,0,0,40,Haiti
355,38,Federal-gov,95432,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States
30109,48,Private,349986,Assoc-voc,11,Married-spouse-absent,Prof-specialty,Not-in-family,White,Male,0,0,40,United-States
41820,63,Private,188999,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,48,United-States
33625,37,Private,144005,Some-college,10,Never-married,Sales,Not-in-family,White,Male,0,0,50,United-States
46455,35,Private,114087,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,5013,0,40,United-States
17829,23,Private,103064,Bachelors,13,Never-married,Tech-support,Not-in-family,White,Female,0,0,40,United-States
41416,62,Federal-gov,164021,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States

In [24]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       47879 non-null  object
 2   fnlwgt          48842 non-null  int64
 3   education       48842 non-null  object
 4   education-num   48842 non-null  int64
 5   marital-status  48842 non-null  object
 6   occupation      47876 non-null  object
 7   relationship    48842 non-null  object
 8   race            48842 non-null  object
 9   sex             48842 non-null  object
 10  capital-gain    48842 non-null  int64
 11  capital-loss    48842 non-null  int64
 12  hours-per-week  48842 non-null  int64
 13  native-country  48568 non-null  object
dtypes: int64(6), object(8)
memory usage: 5.2+ MB

In [22]:
X.isnull().sum()
# Observed nulls in worlclass,occupation,native_country feature variables

age                 0
workclass         963
fnlwgt              0
education           0
education-num       0
marital-status      0
occupation        966
relationship        0
race                0
sex                 0
capital-gain        0
capital-loss        0
hours-per-week      0
native-country    274
dtype: int64

In [18]:
#####Inspecting each variables for cleaning and pre-processing
# Observed '?' in worlclass,occupation,native_country feature variables
for cols in X.columns:
    print(X[cols].value_counts())

age
36    1348
35    1337
33    1335
23    1329
31    1325
      ...
88       6
85       5
87       3
89       2
86       1
Name: count, Length: 74, dtype: int64
workclass
Private             33906
Self-emp-not-inc     3862
Local-gov            3136
State-gov            1981
?                    1836
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: count, dtype: int64
fnlwgt
203488    21
120277    19
190290    19
125892    18
126569    18
          ..
286983     1
185942     1
234220     1
214706     1
350977     1
Name: count, Length: 28523, dtype: int64
education
HS-grad         15784
Some-college    10878
Bachelors        8025
Masters          2657
Assoc-voc        2061
11th             1812
Assoc-acdm       1601
10th             1389
7th-8th           955
Prof-school       834
9th               756
12th              657
Doctorate         594
5th-6th           509
1st-4th           247
Preschool          83
Name: count, dtype: int64
education-num
9     15784
10    10878
13     8025
14     2657
11     2061
7      1812
12     1601
6      1389
4       955
15      834
5       756
8       657
16      594
3       509
2       247
1        83
Name: count, dtype: int64
marital-status
Married-civ-spouse       22379
Never-married            16117
Divorced                  6633
Separated                 1530
Widowed                   1518
Married-spouse-absent      628
Married-AF-spouse           37
Name: count, dtype: int64
occupation
Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
Transport-moving     2355
Handlers-cleaners    2072
?                    1843
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: count, dtype: int64
relationship
Husband           19716
Not-in-family     12583
Own-child          7581
Unmarried          5125
Wife               2331
Other-relative     1506
Name: count, dtype: int64
race
White                 41762
Black                  4685
Asian-Pac-Islander     1519
Amer-Indian-Eskimo      470
Other                   406
Name: count, dtype: int64
sex
Male      32650
Female    16192
Name: count, dtype: int64
capital-gain
0        44807
15024      513
7688       410
7298       364
99999      244
         ...
22040        1
2387         1
1639         1
1111         1
6612         1
Name: count, Length: 123, dtype: int64
capital-loss
0       46560
1902      304
1977      253
1887      233
2415       72
        ...
1539        1
1870        1
1911        1
2465        1
1421        1
Name: count, Length: 99, dtype: int64
hours-per-week
40    22803
50     4246
45     2717
60     2177
35     1937
      ...
79        1
94        1
82        1
87        1
69        1
Name: count, Length: 96, dtype: int64
native-country
United-States                 43832
Mexico                          951
?                               583
Philippines                     295
Germany                         206
Puerto-Rico                     184
Canada                          182
El-Salvador                     155
India                           151
Cuba                            138
England                         127
China                           122
South                           115
Jamaica                         106
Italy                           105
Dominican-Republic              103
Japan                            92
Guatemala                        88
Poland                           87
Vietnam                          86
Columbia                         85
Haiti                            75
Portugal                         67
Taiwan                           65
Iran                             59
Greece                           49
Nicaragua                        49
Peru                             46
Ecuador                          45
France                           38
Ireland                          37
Hong                             30
Thailand                         30
Cambodia                         28
Trinadad&Tobago                  27
Laos                             23
Yugoslavia                       23
Outlying-US(Guam-USVI-etc)       23
Scotland                         21
Honduras                         20
Hungary                          19
Holand-Netherlands                1
Name: count, dtype: int64

In [28]:
# Check summary of stats for the dataset
X.describe()
X.describe(include ='all')

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
count,48842.000000,47879,4.884200e+04,48842,48842.000000,48842,47876,48842,48842,48842,48842.000000,48842.000000,48842.000000,48568
unique,NaN,9,NaN,16,NaN,7,15,6,5,2,NaN,NaN,NaN,42
top,NaN,Private,NaN,HS-grad,NaN,Married-civ-spouse,Prof-specialty,Husband,White,Male,NaN,NaN,NaN,United-States
freq,NaN,33906,NaN,15784,NaN,22379,6172,19716,41762,32650,NaN,NaN,NaN,43832
mean,38.643585,NaN,1.896641e+05,NaN,10.078089,NaN,NaN,NaN,NaN,NaN,1079.067626,87.502314,40.422382,NaN
std,13.710510,NaN,1.056040e+05,NaN,2.570973,NaN,NaN,NaN,NaN,NaN,7452.019058,403.004552,12.391444,NaN
min,17.000000,NaN,1.228500e+04,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,1.000000,NaN
25%,28.000000,NaN,1.175505e+05,NaN,9.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN
50%,37.000000,NaN,1.781445e+05,NaN,10.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN
75%,48.000000,NaN,2.376420e+05,NaN,12.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,45.000000,NaN
max,90.000000,NaN,1.490400e+06,NaN,16.000000,NaN,NaN,NaN,NaN,NaN,99999.000000,4356.000000,99.000000,NaN

#### Task1 - Problem Statement : understand data and variables. define problem statement and ML flow.

#### Problem Statement : Predict whether an individual earns >50K or <=50K annually based on census data.
####  Binary Classification Problem (binary: >50K or <=50K)

ML FLow
1. Data Collection
   - Get Data Sources
   - Validate and Transform
   - Data Collection Pipeline
2. Train - Test Split
3. Model Exploration
   - Exploratory Data Analysis
   - Data Preprocessing
   - Model Building
4. Model Refinement
   - Cross Validation
   - Hyper Parameter Tuning
5. Test and Evaluation

#### Data and Variables
The dataset contains demographic, employment, education, and financial information.

Key Features (Independent Variables):
Feature Name	Type	                Description
age	            Numerical	            Age of the individual
workclass	    Categorical	            Type of employment (e.g., Private, Govt.)
fnlwgt	        Numerical	            Sampling weight
education	    Categorical	            Education level
education-num	Numerical	            Education level (numerical)
marital-status	Categorical	            Marital status
occupation	    Categorical	            Occupation type
relationship	Categorical	            Relationship role in family
race        	Categorical	            Race
sex	            Categorical         	Gender
capital-gain	Numerical	            Capital gains
capital-loss	Numerical	            Capital losses
hours-per-week	Numerical	            Hours worked per week
native-country	Categorical	            Country of origin

Target Variable:
income: Whether income is >50K or <=50K.

##### Get source data from uci repo

In [2]:
!pip3 install -U ucimlrepo

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ucimlrepo in c:\users\ravim\appdata\roaming\python\python312\site-packages (0.0.7)
Requirement already satisfied: pandas>=1.0.0 in c:\programdata\anaconda3\lib\site-packages (from ucimlrepo) (2.2.2)
Requirement already satisfied: certifi>=2020.12.5 in c:\programdata\anaconda3\lib\site-packages (from ucimlrepo) (2024.7.4)
Requirement already satisfied: numpy>=1.26.0 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2023.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.16.0)

In [6]:
from ucimlrepo import fetch_ucirepo, list_available_datasets

# check which datasets can be imported
list_available_datasets()

# import dataset
adult = fetch_ucirepo(id=2)
adult

-------------------------------------
The following datasets are available:
-------------------------------------
Dataset Name                                                                            ID
------------                                                                            --
Abalone                                                                                 1
Adult                                                                                   2
Annealing                                                                               3
Audiology (Standardized)                                                                8
Auto MPG                                                                                9
Automobile                                                                              10
Balance Scale                                                                           12
Balloons                                                                                13
Breast Cancer                                                                           14
Breast Cancer Wisconsin (Original)                                                      15
Breast Cancer Wisconsin (Prognostic)                                                    16
Breast Cancer Wisconsin (Diagnostic)                                                    17
Pittsburgh Bridges                                                                      18
Car Evaluation                                                                          19
Census Income                                                                           20
Chess (King-Rook vs. King-Pawn)                                                         22
Chess (King-Rook vs. King)                                                              23
Connect-4                                                                               26
Credit Approval                                                                         27
Japanese Credit Screening                                                               28
Computer Hardware                                                                       29
Contraceptive Method Choice                                                             30
Covertype                                                                               31
Cylinder Bands                                                                          32
Dermatology                                                                             33
Echocardiogram                                                                          38
Ecoli                                                                                   39
Flags                                                                                   40
Glass Identification                                                                    42
Haberman's Survival                                                                     43
Hayes-Roth                                                                              44
Heart Disease                                                                           45
Hepatitis                                                                               46
Horse Colic                                                                             47
Image Segmentation                                                                      50
Ionosphere                                                                              52
Iris                                                                                    53
ISOLET                                                                                  54
Lenses                                                                                  58
Letter Recognition                                                                      59
Liver Disorders                                                                         60
Lung Cancer                                                                             62
Lymphography                                                                            63
Molecular Biology (Splice-junction Gene Sequences)                                      69
MONK's Problems                                                                         70
Mushroom                                                                                73
Musk (Version 1)                                                                        74
Musk (Version 2)                                                                        75
Nursery                                                                                 76
Page Blocks Classification                                                              78
Optical Recognition of Handwritten Digits                                               80
Pen-Based Recognition of Handwritten Digits                                             81
Post-Operative Patient                                                                  82
Primary Tumor                                                                           83
Servo                                                                                   87
Shuttle Landing Control                                                                 88
Solar Flare                                                                             89
Soybean (Large)                                                                         90
Soybean (Small)                                                                         91
Challenger USA Space Shuttle O-Ring                                                     92
Spambase                                                                                94
SPECT Heart                                                                             95
SPECTF Heart                                                                            96
Tic-Tac-Toe Endgame                                                                     101
Congressional Voting Records                                                            105
Waveform Database Generator (Version 1)                                                 107
Wine                                                                                    109
Yeast                                                                                   110
Zoo                                                                                     111
US Census Data (1990)                                                                   116
Census-Income (KDD)                                                                     117
El Nino                                                                                 122
Statlog (Australian Credit Approval)                                                    143
Statlog (German Credit Data)                                                            144
Statlog (Heart)                                                                         145
Statlog (Landsat Satellite)                                                             146
Statlog (Image Segmentation)                                                            147
Statlog (Shuttle)                                                                       148
Statlog (Vehicle Silhouettes)                                                           149
Connectionist Bench (Sonar, Mines vs. Rocks)                                            151
Cloud                                                                                   155
Poker Hand                                                                              158
MAGIC Gamma Telescope                                                                   159
Mammographic Mass                                                                       161
Forest Fires                                                                            162
Concrete Compressive Strength                                                           165
Ozone Level Detection                                                                   172
Parkinsons                                                                              174
Blood Transfusion Service Center                                                        176
Communities and Crime                                                                   183
Acute Inflammations                                                                     184
Wine Quality                                                                            186
Parkinsons Telemonitoring                                                               189
Cardiotocography                                                                        193
Steel Plates Faults                                                                     198
Communities and Crime Unnormalized                                                      211
Vertebral Column                                                                        212
Bank Marketing                                                                          222
ILPD (Indian Liver Patient Dataset)                                                     225
Skin Segmentation                                                                       229
Individual Household Electric Power Consumption                                         235
Energy Efficiency                                                                       242
Fertility                                                                               244
ISTANBUL STOCK EXCHANGE                                                                 247
User Knowledge Modeling                                                                 257
EEG Eye State                                                                           264
Banknote Authentication                                                                 267
Gas Sensor Array Drift at Different Concentrations                                      270
Bike Sharing                                                                            275
Thoracic Surgery Data                                                                   277
Airfoil Self-Noise                                                                      291
Wholesale customers                                                                     292
Combined Cycle Power Plant                                                              294
Diabetes 130-US Hospitals for Years 1999-2008                                           296
Tennis Major Tournament Match Statistics                                                300
Dow Jones Index                                                                         312
Student Performance                                                                     320
Phishing Websites                                                                       327
Diabetic Retinopathy Debrecen                                                           329
Online News Popularity                                                                  332
Chronic Kidney Disease                                                                  336
Mice Protein Expression                                                                 342
Default of Credit Card Clients                                                          350
Online Retail                                                                           352
Occupancy Detection                                                                     357
Air Quality                                                                             360
Polish Companies Bankruptcy                                                             365
Dota2 Games Results                                                                     367
Facebook Metrics                                                                        368
HTRU2                                                                                   372
Drug Consumption (Quantified)                                                           373
Appliances Energy Prediction                                                            374
Website Phishing                                                                        379
YouTube Spam Collection                                                                 380
Beijing PM2.5                                                                           381
Cervical Cancer (Risk Factors)                                                          383
Stock Portfolio Performance                                                             390
Sales Transactions Weekly                                                               396
Daily Demand Forecasting Orders                                                         409
Autistic Spectrum Disorder Screening Data for Children                                  419
Autism Screening Adult                                                                  426
Absenteeism at work                                                                     445
Breast Cancer Coimbra                                                                   451
Drug Reviews (Druglib.com)                                                              461
Drug Reviews (Drugs.com)                                                                462
Superconductivty Data                                                                   464
Student Academics Performance                                                           467
Online Shoppers Purchasing Intention Dataset                                            468
Electrical Grid Stability Simulated Data                                                471
Real Estate Valuation                                                                   477
Travel Reviews                                                                          484
Travel Review Ratings                                                                   485
Facebook Live Sellers in Thailand                                                       488
Metro Interstate Traffic Volume                                                         492
Hepatitis C Virus (HCV) for Egyptian patients                                           503
Heart Failure Clinical Records                                                          519
Early Stage Diabetes Risk Prediction                                                    529
Pedestrians in Traffic                                                                  536
Cervical Cancer Behavior Risk                                                           537
Estimation of Obesity Levels Based On Eating Habits and Physical Condition              544
Rice (Cammeo and Osmancik)                                                              545
Algerian Forest Fires                                                                   547
Gas Turbine CO and NOx Emission Data Set                                                551
Apartment for Rent Classified                                                           555
Seoul Bike Sharing Demand                                                               560
Iranian Churn                                                                           563
Bone marrow transplant: children                                                        565
COVID-19 Surveillance                                                                   567
HCV data                                                                                571
Taiwanese Bankruptcy Prediction                                                         572
Myocardial infarction complications                                                     579
Student Performance on an Entrance Examination                                          582
Gender by Name                                                                          591
Productivity Prediction of Garment Employees                                            597
AI4I 2020 Predictive Maintenance Dataset                                                601
Dry Bean                                                                                602
In-Vehicle Coupon Recommendation                                                        603
Predict Students' Dropout and Academic Success                                          697
Auction Verification                                                                    713
NATICUSdroid (Android Permissions)                                                      722
Toxicity                                                                                728
DARWIN                                                                                  732
Accelerometer Gyro Mobile Phone                                                         755
Glioma Grading Clinical and Mutation Features                                           759
Multivariate Gait Data                                                                  760
Land Mines                                                                              763
Single Elder Home Monitoring: Gas and Position                                          799
Sepsis Survival Minimal Clinical Records                                                827
Secondary Mushroom                                                                      848
Power Consumption of Tetouan City                                                       849
Raisin                                                                                  850
Steel Industry Energy Consumption                                                       851
Higher Education Students Performance Evaluation                                        856
Risk Factor Prediction of Chronic Kidney Disease                                        857
Maternal Health Risk                                                                    863
Room Occupancy Estimation                                                               864
Cirrhosis Patient Survival Prediction                                                   878
SUPPORT2                                                                                880
National Health and Nutrition Health Survey 2013-2014 (NHANES) Age Prediction Subset    887
AIDS Clinical Trials Group Study 175                                                    890
CDC Diabetes Health Indicators                                                          891
Recipe Reviews and User Feedback                                                        911
Forty Soybean Cultivars from Subsequent Harvests                                        913
Differentiated Thyroid Cancer Recurrence                                                915
Infrared Thermography Temperature                                                       925
National Poll on Healthy Aging (NPHA)                                                   936
Regensburg Pediatric Appendicitis                                                       938
RT-IoT2022                                                                              942
PhiUSIIL Phishing URL (Website)                                                         967

{'data': {'ids': None,
  'features':        age         workclass  fnlwgt  education  education-num  \
  0       39         State-gov   77516  Bachelors             13
  1       50  Self-emp-not-inc   83311  Bachelors             13
  2       38           Private  215646    HS-grad              9
  3       53           Private  234721       11th              7
  4       28           Private  338409  Bachelors             13
  ...    ...               ...     ...        ...            ...
  48837   39           Private  215419  Bachelors             13
  48838   64               NaN  321403    HS-grad              9
  48839   38           Private  374983  Bachelors             13
  48840   44           Private   83891  Bachelors             13
  48841   35      Self-emp-inc  182148  Bachelors             13

             marital-status         occupation    relationship  \
  0           Never-married       Adm-clerical   Not-in-family
  1      Married-civ-spouse    Exec-managerial         Husband
  2                Divorced  Handlers-cleaners   Not-in-family
  3      Married-civ-spouse  Handlers-cleaners         Husband
  4      Married-civ-spouse     Prof-specialty            Wife
  ...                   ...                ...             ...
  48837            Divorced     Prof-specialty   Not-in-family
  48838             Widowed                NaN  Other-relative
  48839  Married-civ-spouse     Prof-specialty         Husband
  48840            Divorced       Adm-clerical       Own-child
  48841  Married-civ-spouse    Exec-managerial         Husband

                       race     sex  capital-gain  capital-loss  hours-per-week  \
  0                   White    Male          2174             0              40
  1                   White    Male             0             0              13
  2                   White    Male             0             0              40
  3                   Black    Male             0             0              40
  4                   Black  Female             0             0              40
  ...                   ...     ...           ...           ...             ...
  48837               White  Female             0             0              36
  48838               Black    Male             0             0              40
  48839               White    Male             0             0              50
  48840  Asian-Pac-Islander    Male          5455             0              40
  48841               White    Male             0             0              60

        native-country
  0      United-States
  1      United-States
  2      United-States
  3      United-States
  4               Cuba
  ...              ...
  48837  United-States
  48838  United-States
  48839  United-States
  48840  United-States
  48841  United-States

  [48842 rows x 14 columns],
  'targets':        income
  0       <=50K
  1       <=50K
  2       <=50K
  3       <=50K
  4       <=50K
  ...       ...
  48837  <=50K.
  48838  <=50K.
  48839  <=50K.
  48840  <=50K.
  48841   >50K.

  [48842 rows x 1 columns],
  'original':        age         workclass  fnlwgt  education  education-num  \
  0       39         State-gov   77516  Bachelors             13
  1       50  Self-emp-not-inc   83311  Bachelors             13
  2       38           Private  215646    HS-grad              9
  3       53           Private  234721       11th              7
  4       28           Private  338409  Bachelors             13
  ...    ...               ...     ...        ...            ...
  48837   39           Private  215419  Bachelors             13
  48838   64               NaN  321403    HS-grad              9
  48839   38           Private  374983  Bachelors             13
  48840   44           Private   83891  Bachelors             13
  48841   35      Self-emp-inc  182148  Bachelors             13

             marital-status         occupation    relationship  \
  0           Never-married       Adm-clerical   Not-in-family
  1      Married-civ-spouse    Exec-managerial         Husband
  2                Divorced  Handlers-cleaners   Not-in-family
  3      Married-civ-spouse  Handlers-cleaners         Husband
  4      Married-civ-spouse     Prof-specialty            Wife
  ...                   ...                ...             ...
  48837            Divorced     Prof-specialty   Not-in-family
  48838             Widowed                NaN  Other-relative
  48839  Married-civ-spouse     Prof-specialty         Husband
  48840            Divorced       Adm-clerical       Own-child
  48841  Married-civ-spouse    Exec-managerial         Husband

                       race     sex  capital-gain  capital-loss  hours-per-week  \
  0                   White    Male          2174             0              40
  1                   White    Male             0             0              13
  2                   White    Male             0             0              40
  3                   Black    Male             0             0              40
  4                   Black  Female             0             0              40
  ...                   ...     ...           ...           ...             ...
  48837               White  Female             0             0              36
  48838               Black    Male             0             0              40
  48839               White    Male             0             0              50
  48840  Asian-Pac-Islander    Male          5455             0              40
  48841               White    Male             0             0              60

        native-country  income
  0      United-States   <=50K
  1      United-States   <=50K
  2      United-States   <=50K
  3      United-States   <=50K
  4               Cuba   <=50K
  ...              ...     ...
  48837  United-States  <=50K.
  48838  United-States  <=50K.
  48839  United-States  <=50K.
  48840  United-States  <=50K.
  48841  United-States   >50K.

  [48842 rows x 15 columns],
  'headers': Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
         'marital-status', 'occupation', 'relationship', 'race', 'sex',
         'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
         'income'],
        dtype='object')},
 'metadata': {'uci_id': 2,
  'name': 'Adult',
  'repository_url': 'https://archive.ics.uci.edu/dataset/2/adult',
  'data_url': 'https://archive.ics.uci.edu/static/public/2/data.csv',
  'abstract': 'Predict whether annual income of an individual exceeds $50K/yr based on census data. Also known as "Census Income" dataset. ',
  'area': 'Social Science',
  'tasks': ['Classification'],
  'characteristics': ['Multivariate'],
  'num_instances': 48842,
  'num_features': 14,
  'feature_types': ['Categorical', 'Integer'],
  'demographics': ['Age', 'Income', 'Education Level', 'Other', 'Race', 'Sex'],
  'target_col': ['income'],
  'index_col': None,
  'has_missing_values': 'yes',
  'missing_values_symbol': 'NaN',
  'year_of_dataset_creation': 1996,
  'last_updated': 'Tue Sep 24 2024',
  'dataset_doi': '10.24432/C5XW20',
  'creators': ['Barry Becker', 'Ronny Kohavi'],
  'intro_paper': None,
  'additional_info': {'summary': "Extraction was done by Barry Becker from the 1994 Census database.  A set of reasonably clean records was extracted using the following conditions: ((AAGE>16) && (AGI>100) && (AFNLWGT>1)&& (HRSWK>0))\n\nPrediction task is to determine whether a person's income is over $50,000 a year.\n",
   'purpose': None,
   'funded_by': None,
   'instances_represent': None,
   'recommended_data_splits': None,
   'sensitive_data': None,
   'preprocessing_description': None,
   'variable_info': 'Listing of attributes:\r\n\r\n>50K, <=50K.\r\n\r\nage: continuous.\r\nworkclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.\r\nfnlwgt: continuous.\r\neducation: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.\r\neducation-num: continuous.\r\nmarital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.\r\noccupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.\r\nrelationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.\r\nrace: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.\r\nsex: Female, Male.\r\ncapital-gain: continuous.\r\ncapital-loss: continuous.\r\nhours-per-week: continuous.\r\nnative-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.',
   'citation': None}},
 'variables':               name     role         type      demographic  \
 0              age  Feature      Integer              Age
 1        workclass  Feature  Categorical           Income
 2           fnlwgt  Feature      Integer             None
 3        education  Feature  Categorical  Education Level
 4    education-num  Feature      Integer  Education Level
 5   marital-status  Feature  Categorical            Other
 6       occupation  Feature  Categorical            Other
 7     relationship  Feature  Categorical            Other
 8             race  Feature  Categorical             Race
 9              sex  Feature       Binary              Sex
 10    capital-gain  Feature      Integer             None
 11    capital-loss  Feature      Integer             None
 12  hours-per-week  Feature      Integer             None
 13  native-country  Feature  Categorical            Other
 14          income   Target       Binary           Income

                                           description units missing_values
 0                                                 N/A  None             no
 1   Private, Self-emp-not-inc, Self-emp-inc, Feder...  None            yes
 2                                                None  None             no
 3    Bachelors, Some-college, 11th, HS-grad, Prof-...  None             no
 4                                                None  None             no
 5   Married-civ-spouse, Divorced, Never-married, S...  None             no
 6   Tech-support, Craft-repair, Other-service, Sal...  None            yes
 7   Wife, Own-child, Husband, Not-in-family, Other...  None             no
 8   White, Asian-Pac-Islander, Amer-Indian-Eskimo,...  None             no
 9                                       Female, Male.  None             no
 10                                               None  None             no
 11                                               None  None             no
 12                                               None  None             no
 13  United-States, Cambodia, England, Puerto-Rico,...  None            yes
 14                                       >50K, <=50K.  None             no  }